<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commune.paris.mapper.PRolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.commune.paris.entity.PRolePermission">
    <result column="p_role_permission_role_id" jdbcType="INTEGER" property="roleId" />
    <result column="p_role_permission_permission_id" jdbcType="INTEGER" property="permissionId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    p_role_permission.role_id as p_role_permission_role_id, p_role_permission.permission_id as p_role_permission_permission_id
  </sql>
  <select id="selectByExample" parameterType="com.commune.paris.entity.PRolePermissionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from p_role_permission p_role_permission
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.commune.paris.entity.PRolePermissionExample">
    delete from p_role_permission p_role_permission
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.commune.paris.entity.PRolePermission">
    insert into p_role_permission (role_id, permission_id)
    values (#{roleId,jdbcType=INTEGER}, #{permissionId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.commune.paris.entity.PRolePermission">
    insert into p_role_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="permissionId != null">
        permission_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="permissionId != null">
        #{permissionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.commune.paris.entity.PRolePermissionExample" resultType="java.lang.Long">
    select count(*) from p_role_permission p_role_permission
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update p_role_permission p_role_permission
    <set>
      <if test="record.roleId != null">
        p_role_permission.role_id = #{record.roleId,jdbcType=INTEGER},
      </if>
      <if test="record.permissionId != null">
        p_role_permission.permission_id = #{record.permissionId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update p_role_permission p_role_permission
    set p_role_permission.role_id = #{record.roleId,jdbcType=INTEGER},
      p_role_permission.permission_id = #{record.permissionId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <delete id="delete" parameterType="com.commune.paris.entity.PRolePermission">
    delete from p_role_permission
    where permission_id = #{permissionId,jdbcType=INTEGER}
    and role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByRoleId" parameterType="java.lang.Integer">
    delete from p_role_permission
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPermissionId" parameterType="java.lang.Integer">
    delete from p_role_permission
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </delete>
</mapper>